%div#wrapper

  = render :partial => "shared/navbar"

  %div#page-wrapper

    %div#row
      %div#col-lg-12
        %h1#page-header Edit Administrators

    %div#row
      %div#col-lg-12
        %div.panel.panel-default
          %div.panel-body
            %div.dataTable_wrapper
              %div.dataTables_wrapper.form-inline.dt-bootstrap.no-footer
                %div.row
                  %div.col-sm-12
                    %table.table.table-striped.table-bordered.table-hover.dataTable.no-footer
                      %thead
                        %tr
                          %th Name
                          %th Admin?
                      %tbody
                        - Teacher.all.each do |teacher|
                          %tr
                            %td= link_to "#{teacher.name}", teacher_path(teacher)
                            %td= teacher.admin ? "Yes" : "No"